.container {
    text-align: center;
    border: solid grey 5px;
    height: 75vh;
    aspect-ratio: 1 / 1;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gridbox {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    border: 0.1px solid black;
}

