body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;

    height: 100vh;
    margin: 0;

    gap: 1em;
}

.container {
    text-align: center;
    border: solid grey 5px;
    height: 75vh;
    aspect-ratio: 1 / 1;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.gridbox {
    aspect-ratio: 1 / 1;
    box-sizing: border-box;   
}

.bordered {
    border: 0.1px solid black;
}

